{{#if addNewAnswer}}
  <div class= "question-form">
    <h1>New Answer</h1>
    <form>
      <div class="form-group row">
      <label class="col-md-2 col-form-label" for="author">Author</label>
        <div class="col-md-10">{{input value=author id="author"}}</div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="content">Content</label>
        <div class="col-md-10">{{input value=content id="content"}}</div>
      </div>
      <button type="button" class="btn btn-secondary" {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <button type="button" class="btn btn-secondary btn-lg" {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
