 <div> </div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{question.q}}</h2>
    <p class= "author"><button type="button" class="btn btn-secondary" {{action 'delete' question}}>Delete</button></p>
  </div>
  <div class="panel-body">
    <p>Notes:</p>
    <div class="content"><h4>{{question.notes}}</h4></div>
    <p class="author">Submitted by: {{question.author}}</p>
  </div>
  <div class="panel-footer">
    <p>Answers:</p>
    <div>
      {{#each question.answers as |answer|}}
        {{answer-tile answer=answer}}
      {{/each}}
    </div>
  </div>
</div>
